body {
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-editor-font-size);
    background: var(--vscode-editor-background);
}

.container {
    padding: 15px;
    box-sizing: border-box;
}

.container.request-items {
    position: fixed;
    top: 71px;
    left: 0;
    bottom: 0;
    width: 50%;
    padding: 0;
    border-right: 1px solid var(--vscode-editorGroup-border);
    overflow-y: auto;
    transition: top 0.25s ease;
}

.container.request-items.expanded {
    top: 98px;
}

.container.request-inspector {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
}

.request-item {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 15px;
    height: 35px;
}

.request-item:hover {
    background: var(--vscode-list-hoverBackground);
}

.request-item.selected {
    background: var(--vscode-list-inactiveSelectionBackground);
}

.endpoint {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl !important;
    text-align: left;
    margin-top: -3px;
}

.fullURL {
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 85px);
}

.method {
    font-weight: bold;
    font-size: var(--vscode-editor-font-size);
    width: 70px;
    margin-top: 0px;
    border-radius: 5px;
    text-align: left;
    padding-left: 7px;
}

*[type="POST"] .method {
    color: var(--vscode-charts-blue);
}

*[type="GET"] .method {
    color: var(--vscode-charts-green);
}

*[type="PUT"] .method {
    color: var(--vscode-charts-yellow);
}

*[type="DELETE"] .method {
    color: var(--vscode-charts-red);
}

.detail-item {
    float: right;
    align-self: center;
    color: var(--vscode-editorLineNumber-foreground);
    transform: scale(0.8);
}

.status.detail-item {
    width: 30px !important;
    text-align: center;
}

.status::before {
    content: attr(status);
}

.status[status='0']::before {
    content: "⚠️";
    font-size: 1.4em;
    /*color:var(--vscode-editorMarkerNavigationError-background);*/
}

.request-item[highlight="yellow"] .status {
    color: var(--vscode-charts-yellow);
}

.request-item[highlight="red"] .status {
    color: var(--vscode-charts-red);
}

table.stack {
    table-layout: fixed;
    width: 100%;
}

.stack-frame-file div {
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stack-frame-file {
    width: 65%;
}

.inspector-title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-top: -15px;
    background: var(--vscode-titleBar-activeBackground);
    /* border-bottom:1px solid var(--vscode-editorGroup-border); */
}

.inspector-title .title {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 10px;
    padding-left: 15px;
    direction: rtl !important;
    text-align: left;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 30px);
}

.inspector-title .method {
    width: 40px;
    text-align: left;
    padding-right: 10px;
    padding-left: 15px;
    user-select: none;
}

.inspector-title .tab-group {
    width: 100%;
    display: flex;
    width: calc(100% + 30px);
    margin-top: 15px;
    margin-bottom: -15px;
    background: var(--vscode-editorGroupHeader-tabsBackground);
}

.tab-group .tab {
    padding: 10px;
    user-select: none;
    cursor: pointer;
    background: var(--vscode-list-hoverBackground);
}

.tab-group .tab.selected {
    background: var(--vscode-editor-background);
}

.container.request-inspector .page {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 105px);
    margin-left: -15px;
    width: calc(100% + 30px);
    padding: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}

.section {
    margin-bottom: 10px;
}

.section .section-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 5px;
    padding-right: 10px;
    margin-left: -33px;
    border-radius: 5px;
    transition: margin-left ease 0.2s;
}

.section.hide .section-title {
    margin-left: -10px;
    margin-bottom: 0px;
    transition: margin-left ease 0.2s;
}

.section .section-title:hover {
    margin-left: 0;
    background: var(--vscode-list-hoverBackground);
    transition: margin-left ease 0.2s, background ease 0.2s;
}

.section .section-title::before {
    content: "▼";
    font-size: 0.8em;
    padding-left: 7px;
    box-sizing: border-box;
    opacity: 0;
    width: 28px;
    display: inline-block;
    transform: rotate(0deg);
    transition: opacity ease 0.2s, transform ease 0.2s;
}

.section.hide .section-title::before {
    opacity: 0.5;
    transform: rotate(-90deg);
    transition: opacity ease 0.2s, transform ease 0.2s;
}

.section .section-title:hover::before {
    opacity: 0.5;
    transition: opacity ease 0.2s, transform ease 0.2s;
}

.code-block {
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid var(--vscode-editorGroup-border);
}

.code-block.formatted {
    white-space: pre;
}

.code-block.formatted:not(.collapsed) {
    overflow-x: scroll;
    white-space: pre;
    text-overflow: clip;
}

.code-block.collapsable.collapsed {
    max-height: 300px;
    user-select: none;
    cursor: pointer;
}

.code-block.collapsable::before {
    content: "▼";
    line-height: 10em;
    font-size: 1.7em;
    text-align: center;
    display: block;
    width: calc(100% + 20px);
    margin-left: -10px;
    margin-top: -150px;
    height: 150px;
    transform: translate(0px, 315px);
    background: linear-gradient(0deg, var(--vscode-editor-background) 0%, rgba(0, 212, 255, 0) 100%);
    transition: line-height ease 0.2s;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: -9999px;
    left: -9999px;
}

.code-block.collapsable.collapsed::before {
    position: unset;
}

.code-block.collapsable.collapsed:hover::before {
    line-height: 10.5em;
    transition: line-height ease 0.2s;
}

.page {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.page.show {
    position: unset;
}

.section.hide *:not(.section-title) {
    position: absolute;
    top: -9999999px;
    left: -9999999px;
}

.data-row {
    margin-bottom: 8px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
}

.data-row::before {
    content: attr(keyName);
    padding-right: 8px;
    display: inline-block;
    font-weight: bold;
    color: var(--vscode-editorLineNumber-foreground);
    margin-left: -20px;
}

.templates {
    display: none;
}

.request-inspector.container:not(.ready) *:not(.inspector-label) {
    display: none;
}

.request-inspector.container.ready .inspector-label {
    display: none;
}

.inspector-label {
    user-select: none;
    position: fixed;
    width: 50%;
    text-align: center;
    top: 50%;
    right: 0;
    font-size: 3em;
    font-weight: 200;
    opacity: 0.2;
    margin-top: -45px;
}

.subscript {
    display: block;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 0.85em;
    opacity: 0.4;
    user-select: none;
}

.img-preview {
    max-width: 100%;
}

.item-loader {
    user-select: none;
    position: fixed;
    width: 40px;
    height: 3px;
    top: 0;
    left: 0;
    background-color: var(--vscode-textLink-activeForeground);
    animation: load 2s linear infinite;
}

.item-loader.hide {
    display: none;
}

.inspector-timing-container {
    display: flex;
}

.inspector-timing-labels {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inspector-timing-bars {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-left: 1px solid var(--vscode-editorGroup-border);
    border-right: 1px solid var(--vscode-editorGroup-border);
}

.inspector-timing-labels .data-row {
    height: 20px;
    width: 100px;
    text-align: right;
    margin-bottom: 0;
}

.inspector-timing-labels .data-row::before {
    float: left;
}

.inspector-timing-bars .data-bar {
    height: 20px;
    background: #1133AA;
    width: 0%;
    margin-left: 0%;
}

.inspector-timing-bars .data-bar[keyName="Queuing"] {
    background: var(--vscode-interactive-inactiveCodeBorder);
    border: 1px solid var(--vscode-editorGroup-border);
    border-left: 0;
}

.inspector-timing-bars .data-bar[keyName="Blocked"] {
    background: var(--vscode-charts-red);
}

.inspector-timing-bars .data-bar[keyName="Connect"] {
    background: var(--vscode-charts-green);
}

.inspector-timing-bars .data-bar[keyName="DNS"] {
    background: var(--vscode-charts-blue);
}

.inspector-timing-bars .data-bar[keyName="Recieve"] {
    background: var(--vscode-charts-purple);
}

.inspector-timing-bars .data-bar[keyName="Send"] {
    background: var(--vscode-charts-yellow);
}

.inspector-timing-bars .data-bar[keyName="SSL"] {
    background: var(--vscode-terminal-ansiBrightBlack);
}

.inspector-timing-bars .data-bar[keyName="Wait"] {
    background: var(--vscode-gitDecoration-addedResourceForeground);
}

.stack-frame-function {
    padding-right: 15px;
    font-weight: bold;
    color: var(--vscode-editorLineNumber-foreground);
    width: 15%;
}

.stack-frame-sID,
.stack-frame-location {
    width: 10%;
}

.search {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    height: 35px;
    background: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-editor-font-size);
    border-right: 1px solid var(--vscode-editorGroup-border);
    padding-left: 39px;
    padding-top: 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.search:focus {
    outline: none ! important;
}

.expand-filters {
    margin-left: auto;
    margin-right: 10px;
    opacity: 0.5;
    transform: rotate(90deg);
    transition: transform 0.25s ease;
    user-select: none;
    cursor: pointer;
}

.expand-filters.expanded {
    transform: rotate(0deg);
}

.method-filters {
    display: flex;
    column-gap: 10px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*border-bottom: 1px solid var(--vscode-editorGroup-border);*/
    border-right: 1px solid var(--vscode-editorGroup-border);
    position: fixed;
    top: 35px;
    width: 50%;
    box-sizing: border-box;
    background: var(--vscode-editor-background);
    z-index: 9999;
}

.method-filter {
    border: 1px solid var(--vscode-editor-foreground);
    color: var(--vscode-editor-foreground);
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40px;
    user-select: none;
    cursor: pointer;
}

.method-filter.selected {
    border: 1px solid var(--vscode-charts-foreground);
    background: var(--vscode-charts-foreground);
    color: var(--vscode-editor-background);
}

.method-filter.get {
    border: 1px solid var(--vscode-charts-green);
    color: var(--vscode-charts-green);
}

.method-filter.get.selected {
    border: 1px solid var(--vscode-charts-green);
    background: var(--vscode-charts-green);
    color: var(--vscode-editor-background);
}

.method-filter.post {
    border: 1px solid var(--vscode-charts-blue);
    color: var(--vscode-charts-blue);
}

.method-filter.post.selected {
    border: 1px solid var(--vscode-charts-blue);
    background: var(--vscode-charts-blue);
    color: var(--vscode-editor-background);
}

.method-filter.put {
    border: 1px solid var(--vscode-charts-yellow);
    color: var(--vscode-charts-yellow);
}

.method-filter.put.selected {
    border: 1px solid var(--vscode-charts-yellow);
    background: var(--vscode-charts-yellow);
    color: var(--vscode-editor-background);
}

.method-filter.delete {
    border: 1px solid var(--vscode-charts-red);
    color: var(--vscode-charts-red);
}

.method-filter.delete.selected {
    border: 1px solid var(--vscode-charts-red);
    background: var(--vscode-charts-red);
    color: var(--vscode-editor-background);
}

.req-type-filters {
    display: flex;
    column-gap: 10px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--vscode-editorGroup-border);
    border-right: 1px solid var(--vscode-editorGroup-border);
    position: fixed;
    top: 35px;
    width: 50%;
    box-sizing: border-box;
    background: var(--vscode-editor-background);
    transition: top 0.25s ease;
}

.req-type-filters.expanded {
    top: 62px;
}

.req-type-filter {
    border: 1px solid var(--vscode-editor-foreground);
    color: var(--vscode-editor-foreground);
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 40px;
    user-select: none;
    cursor: pointer;
}

.req-type-filter.selected {
    border: 1px solid var(--vscode-charts-foreground);
    background: var(--vscode-charts-foreground);
    color: var(--vscode-editor-background);
}

.request-items .codicon-search {
    position: fixed;
    top: 14px;
    left: 14px;
    z-index: 99999;
}

@keyframes load {
    from {
        left: calc(0% - 40px);
    }

    to {
        left: 100%;
    }
}